@model IEnumerable<Wincomp.Models.Aluno>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de alunos</h2>
<p>@Html.ActionLink("Incluir Aluno", "Incluir")</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model =>model.NomeAluno )</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Data)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.NomeAluno)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Data)</td>
            <td>
                @Html.ActionLink("Detalhes", "Detalhes", new { id=item.AlunoID })
                @Html.ActionLink("Editar", "Editar", new { id = item.AlunoID })
                @Html.ActionLink("Excluir", "Excluir", new { id = item.AlunoID })
            </td>
        </tr>
        }
    </tbody>
</table>
