@using PagedList.Mvc;
@model PagedList.IPagedList<Wincomp.Models.Aluno>
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>
<h2>Lista de alunos</h2>
<p>@Html.ActionLink("Incluir Aluno", "Incluir")</p>
@using (Html.BeginForm())
{
    <p>
        Filtrar pelo nome: @Html.TextBox("BuscaNome")
        <input type="submit" value="Filtrar"/>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>@Html.ActionLink("Nome", "Index", new { ordem = ViewBag.OrdemNome })</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>@Html.ActionLink("Data", "Index", new { ordem = ViewBag.OrdemData })</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.NomeAluno)</td>
            <td>@Html.DisplayFor(modelItem => item.SobrenomeAluno)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Data)</td>
            <td>
                @Html.ActionLink("Detalhes", "Detalhes", new { id=item.AlunoID })
                @Html.ActionLink("Editar", "Editar", new { id = item.AlunoID })
                @Html.ActionLink("Excluir", "Excluir", new { id = item.AlunoID })
            </td>
        </tr>
        }
    </tbody>
</table>
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new {page,ordem=ViewBag.Ordenacao}) )